# importamos librerias y exploramos el dataset

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('dataset_listo.csv')
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,score,id,plataforma,duration_int,duration_type
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,NaN,"comedy, drama",a small fishing village must procure a local d...,99,as1,amazon,113.0,min
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,37,as2,amazon,110.0,min
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,NaN,"action, drama, suspense",after a man discovers his wife is cheating on ...,20,as3,amazon,74.0,min
3,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,NaN,documentary,"pink breaks the mold once again, bringing her ...",27,as4,amazon,69.0,min
4,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,NaN,"drama, fantasy",teenage matt banting wants to work with a famo...,75,as5,amazon,45.0,min

## Cantidad de veces que aparece una keyword en el titulo de pelis/series, por plataforma

In [5]:
keyword = "love"
cant = df.loc[(df.title.str.contains(keyword)) & (df.plataforma=='netflix')]
cant.shape[0]

196

In [22]:
def get_count(plat, keyword):
    df = pd.read_csv('dataset_listo.csv')
    cant = df.loc[(df.title.str.contains(keyword)) & (df.plataforma==plat)]
    conteo = cant.shape[0]
    return f"En la plataforma {plat}, se menciona {conteo} la palabra {keyword}"

In [23]:
get_count('netflix', 'love')

'En la plataforma netflix, se menciona 196 la palabra love'

## Cantidad de peliculas por plataforma con un puntaje mayor a XX en determinado año

In [6]:
puntaje = 85
anio = 2010
cant2 = df.loc[(df.score > puntaje) & (df.plataforma=='netflix') & (df.release_year == anio)]
cant2.shape[0]

25

In [24]:
def get_movies(plat, puntaje, anio):
    df = pd.read_csv('dataset_listo.csv')
    cant = df.loc[(df.score > puntaje) & (df.plataforma== plat) & (df.release_year == anio)]
    conteo = cant.shape[0]
    return f"En la plataforma {plat}, tuvo {conteo} en {anio}, con un score mayor a {puntaje}"

In [25]:
get_movies('netflix', 85, 2010)

'En la plataforma netflix, tuvo 25 en 2010, con un score mayor a 85'

## La segunda pelicula con mayor score para una plataforma determinada, segun el orden alfabetico de los titulos

In [49]:
plat = 'amazon'
sc = 100
tip = 'movie'
seg = df.loc[(df.plataforma=='amazon') & (df.score == 100) & (df.type == 'movie')]

In [109]:
seg2 = seg.sort_values(['title', 'score'],ascending = [True, False])
seg3 = seg2[['title', 'score']]
lista = seg3.iloc[1].to_list()
list

['abilene town', 100]

In [26]:
def second_best_movie(plat, rating, tipo):
    df = pd.read_csv('dataset_listo.csv')
    seg = df.loc[(df.plataforma==plat) & (df.score == rating) & (df.type == tipo)]
    seg2 = seg.sort_values(['title', 'score'],ascending = [True, False])
    seg3 = seg2[['title', 'score']]
    lista = seg3.iloc[1].to_list()
    return f"En la plataforma {plat}, la segunda mejor pelicula {lista[0]} que tiene un rating de {lista[1]}"

In [27]:
second_best_movie('amazon', 100, 'movie')

'En la plataforma amazon, la segunda mejor pelicula abilene town que tiene un rating de 100'

## film que más duró según año, plataforma y duration type

In [61]:
dur = 'min'
anio = 2016
plat = 'netflix'
film = df.loc[(df.duration_type == dur) & (df.plataforma==plat) & (df.release_year == anio)]

In [103]:
film2=film.sort_values(['duration_int'], ascending = [False])
film3 = film2[['title', 'duration_int', 'duration_type']]
lista=film3.iloc[0].to_list()

In [106]:
lista

['sairat', 173.0, 'min']

In [28]:
def movie_higher_duration(plat, anio, dur):
    df = pd.read_csv('dataset_listo.csv')
    film = df.loc[(df.duration_type == dur) & (df.plataforma==plat) & (df.release_year == anio)]
    film2=film.sort_values(['duration_int'], ascending = [False])
    film3 = film2[['title', 'duration_int', 'duration_type']]
    lista=film3.iloc[0].to_list()
    return f"En la plataforma {plat}, la pelicula {lista[0]}, tuvo una duracion de {lista[1]} {lista[2]}, en {anio}"

In [29]:
movie_higher_duration('netflix', 2016, 'min')

'En la plataforma netflix, la pelicula sairat, tuvo una duracion de 173.0 min, en 2016'

## cantidad de tv show y movie por rating

In [73]:
rat = '18+'
cant3 = df.loc[(df.rating == rat)]

In [76]:
cant3.shape[0]

1243

In [30]:
def contents(rat):
    df = pd.read_csv('dataset_listo.csv')
    cant3 = df.loc[(df.rating == rat)]
    conteo = cant3.shape[0]
    return f"Con el rating {rat} se tiene un total de contenido de {conteo}"

In [31]:
contents('18+')

'Con el rating 18+ se tiene un total de contenido de 1243'